/*Peso numérico de selectores CSS:

100 puntos para ID's
10 puntos para clases y pseudoclases
1 puntos para selectores de etiqueta y pseudoelementos

*/
table{
	/*border: solid 1px black;*/
}

#bootstrap_overrides th{
	text-align: center;
}

td{
	/*border: solid 1px black;*/
	padding: 2px 10px 2px 10px;
}

table#secciones_visualizacion{
	margin-top: 30px;
	width: 80%;
}

table#secciones_visualizacion td{
	border: solid 1px black;
}

table#tabla_autores, table#tabla_publicaciones{
	/*background: red;*/
	margin: 0 auto;
	padding: 0;
}

/*100 + 1 = 101 de prioridad*/
/*#bootstrap_overrides para tener preferencia sobre BOOTSTRAP*/
#bootstrap_overrides a{
	text-decoration: none;
	color: #6d6d6d;
	font-size: 0.9em;
	/*font-weight: lighter;*/
	font-family: calibri, lucida;
}

#bootstrap_overrides a:hover{
	color: black; 
    cursor: pointer;
}