/*Peso numérico de selectores CSS:

100 puntos para ID's
10 puntos para clases y pseudoclases
1 puntos para selectores de etiqueta y pseudoelementos

*/
body{
	background: CornSilk;
}

#secciones_visualizacion, table, td.content-cell, div.nano-content, input.search-input{
	background: HoneyDew;
}

.logo{
	margin-top: -12px;
	margin-right: 15px;
	margin-left: 15px;
	width: 28px;
	height: auto;
}

.barra-nav{
	background-color: #8c1226;
}

#bootstrap_overrides .right-up-header{
	height: 50px;
	text-align: right;
	margin-top: 20px;
}

#bootstrap_overrides .left-up-header{
	height: 100%;
	margin-top: -10px;
}

#bootstrap_overrides .height-100{
	height: 100%;
}

ul.nav{
	list-style-type: none;
	height: 100%;
}

.icon{
	margin-right: 10px;
	margin-left: 10px;
}

.right-margin{
	margin-right: 10px;
}

.left-margin{
	/*margin-left: 200px;*/
}

.little-icon{
	width: 16px;
	padding-bottom: 3px;
}

.white-icon{
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.nav li{
	display: inline-block;
	font-size: 12pt;
	line-height: 40px;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	/*border-right: 2px #fff solid;*/
	height: 100%;
	/*margin-right: -4px;*/
	font-family: calibri;
	cursor: pointer;
	background-color: #8c1226;

	transition: background 0.4s ease;
}

.nav li:hover{
	background-color: gray;
}

.nav li:last-child{
	border-right: none;
}

.nav li.no-hover:hover{
	background-color: transparent;
}

#bootstrap_overrides .glyphicon-log-out:hover{
	cursor: pointer;
}

.line-under-header-nav{
	background-color: #a68677;
	height: 10px;
	z-index: 1000;
	margin-top: 50px;
	position: fixed;
	box-shadow: grey 0px 1px 5px;
}

.user{
	float:right;
}

.little-space{
	height: 60px;
}

.white-letter{
	color: white;
}

.black-letter{
	color: black;
}

td{
	padding: 3px 10px 3px 10px;
}

td.content-cell{
	padding: 0px;
}

.no-border{
	border: none;
}

table#secciones_visualizacion{
	/*margin-top: 30px;*/
	width: 100%;
}

table#secciones_visualizacion td{
	border: solid 1px black;
}

table#tabla_autores, table#tabla_publicaciones, table#tabla_detalles_pub{
	margin: 0 auto;
	padding: 0;
}

table#tabla_autores{
	margin-top: -1px;
}

table#tabla_detalles_pub{
	margin-top: 30px; 
}

/*100 + 1 = 101 de prioridad*/
/*#bootstrap_overrides para tener preferencia sobre BOOTSTRAP*/
#bootstrap_overrides a,input{
	text-decoration: none;
	color: #2d2d2d;
	font-size: 1.1em;
	font-family: calibri, lucida;
}

input.search-input{
	font-size: 1em;
	font-weight: lighter;
	height: 25px;
	border: 1px solid black;
}

#bootstrap_overrides a:hover{
	color: black; 
    cursor: pointer;
}

#busqueda_nombre > input[type="text"], #busqueda_apellidos > input[type="text"]{
	width: 100%;
	text-align: center;
	/*border-radius: 10px;*/
}

/*Icono de modificación y su celda*/
td.img_edit{
	margin: 0 auto;
	padding: 2px;
}

td.img_edit > img{
	display: block;
	margin-left: auto;
	margin-right: auto;

	transition: filter 0.2s ease;
}

td.img_edit > img:hover{
	filter: opacity(50%);
	-webkit-filter: opacity(50%);
	cursor: pointer;
}

section.publicaciones{
	height: 100px;
	/*overflow: scroll;*/
	padding: 0px 50px 0px 50px;
}

.nano { background: #fff; width: 100%; height: 300px;
	/*override nano to center*/
	margin: 0 auto;
	padding: 0;
}
.nano .nano-content { 
	padding-right: 13px; 
}
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }

.center-header-table{
	width: 100%;
	text-align: center;
	padding: 0px;
}

#last-search-input{
	margin-top: -1px;
}

.search{
	float: left;
}

.main-title{
	margin-top: -5px;
	font-size: 2em;
}

.element-title{
	font-size: 12pt;
	color: white;
	margin: 5px 0px;
}

.medium-font{
	font-size: 0.9em;
}

.header-font1{
	font-size: 18px;
	font-weight: bold;
}

.header-font2{
	font-size: 16px;
}

#bootstrap_overrides .glyphicon-log-out{
	font-size: 12pt;
	color: white;
}

.subtitle div{
	display: inline-block;
	background-color: #8c1226; 
	color: white;
	font-size: 12pt;
	font-weight: bold; 
}

.subtitle1{
	width: 25%;
	float: left;
}

.subtitle2{
	width: 35%;
	float: left;
}

.subtitle3{
	width: 40%;
	text-align: center;
}

.cell-autor{
	width: 25%;
	/*height: 600px;*/
}

.cell-details{
	width: 35%;
}

.cell-cover{
	width: 40%;
}

#title_details{
	color: black !important;
	font-size: 12pt;
}

.row-details-cover{
	height: 300px;
}

.img-portada{
	display: block;
	/*max-width: 40%;*/
	max-width: 100%;
	max-height: 280px;
	height: auto;
}

/*#size-portada{
	width: 100%;
	height: 70px;
	overflow: scroll;
}*/

.autor-cell{
	width: 100%;
}

.cell-biography{
	text-align: justify;
}

.details-position{
	margin-top: -150px;
}

#publication_details{
	padding-left: 5%;
	width: 100%;
}

#bootstrap_overrides td.no-border{
	border: none;
}

.narrow-font{
	font-family: Nueva Std;
	font-size: 1.8em;
}

/*Loaders*/
/*.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}*/

@media (max-width:1470px){
	h2{
		font-size: 25px;
	}
	#bootstrap_overrides .left-up-header {
	    margin-top: -6px;
	}
}

@media (max-width:1250px){
	h2{
		font-size: 20px;
	}
	#bootstrap_overrides .left-up-header {
	    margin-top: -4px;
	}
}

@media (max-width:1140px){
	h2{
		font-size: 20px;
	}
	#bootstrap_overrides .left-up-header {
	    margin-top: -4px;
	}
}

@media (max-width: 768px){
	.line-under-header-nav{
		visibility: hidden;
	}
	.little-space{
		height: 176px;
	}

	.navbar-header {
	    width: 100%;
	    height: 100px;
	}

	.navbar-brand {
		float:none;
	}
	.logo{
		margin-left: 25px;
		margin-top: -6px;
		width: 24px;
	}
}

@media (max-width: 540px){

	.left-margin{
		margin-left: 0px;
	}
	.main-title{
		margin-left: 0em;
		font-size: 1.5em;
	}
}

@media (max-width: 460px){
	.logo{
		margin-top: -8px;
		margin-right: 15px;
		margin-left: 15px;
		width: 20px;
		height: auto;
	}
	.main-title{
		margin-top: -5px;
		font-size: 1.6em;
	}
	.logo{
		margin-left: 25px;
		margin-top: -6px;
		width: 20px;
	}
}

